/**/*.o
src/cmake-build-debug/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
libtool
m4/
man/Makefile
man/Makefile.in
src/.libs/
src/Makefile
src/Makefile.in
src/STL_Algorithm/.deps/
src/STL_Algorithm/.libs/
src/STL_Algorithm/Makefile
src/STL_Algorithm/Makefile.in
src/STL_Algorithm/libSTL_Algorithm.la
src/STL_Algorithm/libSTL_Algorithm_la-STL_Algorithm_advanced_sorting.lo
src/STL_Algorithm/libSTL_Algorithm_la-STL_Algorithm_compare.lo
src/STL_Algorithm/libSTL_Algorithm_la-STL_Algorithm_other.lo
src/STL_Algorithm/libSTL_Algorithm_la-STL_Algorithm_sorting.lo
src/STL_Headers/STL_Config.h.in
src/STL_Headers/stamp-h1
src/STL_List/.deps/
src/STL_List/.libs/
src/STL_List/Makefile
src/STL_List/Makefile.in
src/STL_List/libSTL_List.la
src/STL_List/libSTL_List_la-STL_List.lo
src/STL_Queue/.deps/
src/STL_Queue/.libs/
src/STL_Queue/Makefile
src/STL_Queue/Makefile.in
src/STL_Queue/libSTL_Queue.la
src/STL_Queue/libSTL_Queue_la-STL_Queue.lo
src/STL_Stack/.deps/
src/STL_Stack/.libs/
src/STL_Stack/Makefile
src/STL_Stack/Makefile.in
src/STL_Stack/libSTL_Stack.la
src/STL_Stack/libSTL_Stack_la-STL_Stack.lo
src/libSTL.la
src/main.c
src/STL_Containers/STL_Forward_list/.deps/
src/STL_Containers/STL_List/.deps/
src/STL_Containers/STL_Queue/.deps/
src/STL_Containers/STL_Stack/.deps/
src/STL_Containers/STL_String/.deps/
src/STL_Containers/STL_Vector/.deps/
src/STL_Headers/STL/__internal/__STL_Config.h.in
src/STL_Headers/STL/__internal/stamp-h1